
.icon-rss:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-github:before { content: '\e80c'; } /* '' */
.icon-github-text:before { content: '\e80d'; } /* '' */
.icon-github-circled:before { content: '\e80e'; } /* '' */