@charset "UTF-8";
html, body, #app {
  height: 100%;
  font-size: 100%;
}

body {
  font-family: "Microsoft Yahei","微软雅黑",Calibri,verdana,tahoma,arial,sans-serif;
}

#wrap {
  display: table;
  width: 100%;
  height: auto;
  min-height: 100%;
}

#wrap > div {
  display: table-cell;
  vertical-align: top;
}

#wrap #left {
  width: 230px;
}

@media (max-width: 700px) {
  #wrap {
    display: block;
  }
  #wrap > div {
    width: 100% !important;
    display: block;
  }
}

#wrap:after {
  content: '';
  clear: both;
}

#left {
  background: black;
}

#main {
  padding: 1em 2.5em 1em 2em;
}

#right {
  width: 250px;
}

.menu-toggle {
  display: none;
  padding: 9px 10px;
  background-color: transparent;
  border: 1px solid #6CAF05;
  border-radius: 5px;
}

.menu-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: #6CAF05;
}

.menu-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.menu-toggle:hover {
  background-color: #4d7d04;
}

@media (max-width: 700px) {
  .menu-toggle {
    display: inline-block;
  }
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

@media (min-width: 700px) {
  .collapse {
    display: block !important;
  }
}

.navbar_aside {
  margin: 0 auto;
  text-align: center;
}

.navbar_aside > .headpanel {
  padding: 1.5em 0.5em;
}

.navbar_aside > .headpanel .logo {
  max-width: 180px;
}

.navbar_aside > .headpanel div.logo {
  background: url("svgs/cloud-green.svg") no-repeat;
  height: 125px;
  width: 180px;
  margin: 0 auto;
  font-size: 120%;
  color: #d6e9c6;
  vertical-align: middle;
  padding-top: 53px;
  letter-spacing: 0.2em;
  font-weight: bold;
}

.navbar_aside > .headpanel .brand {
  display: none;
  font-size: 140%;
  text-decoration: none;
  letter-spacing: 0.3em;
  color: #6CAF05;
}

@media (max-width: 700px) {
  .navbar_aside > .headpanel {
    padding: 1em;
    border-bottom: 2px solid #6CAF05;
  }
  .navbar_aside > .headpanel .logo {
    display: none;
  }
  .navbar_aside > .headpanel .brand {
    display: inline;
  }
  .navbar_aside > .headpanel .menu-toggle {
    position: absolute;
    top: 1em;
    right: 1em;
  }
}

.navbar_aside .mainpanel {
  padding: 0 0.5em 1em;
}

.navbar_aside .mainpanel_item > ul {
  list-style: none;
  padding: 0;
}

.navbar_aside .mainpanel_item > ul li {
  display: block;
  margin: 0.5em 1.5em;
}

.navbar_aside .mainpanel_item > ul li > a {
  display: block;
  padding: 8px;
  margin-bottom: 3px;
  color: #eee;
  text-decoration: none;
}

.navbar_aside .mainpanel_item > ul li > a:hover, .navbar_aside .mainpanel_item > ul li > a.active {
  background: #6CAF05;
  color: #fff;
}

@media (max-width: 700px) {
  .navbar_aside .mainpanel_item > ul li {
    margin: 0;
  }
}

.navbar_aside .mainpanel_item .title {
  display: block;
  color: #d6e9c6;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 110%;
  margin: 0.5em 1em;
  padding: 0.5em;
  border-bottom: 2px solid white;
}

.navbar_aside .mainpanel_item .title.active, .navbar_aside .mainpanel_item .title:hover {
  color: #6CAF05;
}

@media (max-width: 700px) {
  .navbar_aside .mainpanel_item .title {
    color: #bbbbbb;
    font-weight: normal;
    border-bottom: 0;
    margin-bottom: 0;
  }
}

.navbar_aside .mainpanel_item > hr {
  width: 80%;
}

@media (max-width: 700px) {
  .navbar_aside .mainpanel_item > hr {
    display: none;
  }
}

.navbar_aside .mainpanel_item > .tagContainer {
  margin: 0 0.5em;
  /* span.label{
				display:inline-block;
				margin:0.3em 0.2em;
			    font-size:80%;
			    line-height: 1.2;
			    cursor:pointer;
			    font-weight:normal;
				color:$label-txt-color;
				border:1px solid $label-bg-color;
				&:hover{
					background-color:darken($label-bg-color,10%);
					color:$label-hover-color;
				}
			} */
}

.navbar_aside .mainpanel_item > .tagContainer span.label {
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;
  background: transparent;
  color: #ddd;
  border: 1px solid #98b58d;
}

.navbar_aside .mainpanel_item > .tagContainer span.label:hover {
  color: #fff;
  background: #8bc34a;
}

.navbar_aside .mainpanel_item > .tagContainer span.label {
  margin: 0.3em 0.2em;
  font-size: 80%;
  line-height: 1.2;
  font-weight: normal;
}

.navbar_aside .mainpanel_item input.search {
  margin: 0 auto;
  width: 80%;
  background: black;
  border-color: #555;
  color: #bbb;
}

.navbar_aside .mainpanel_item input.search:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6CAF05;
}

.navbar_aside .mainpanel_item span[class^="icon-"] {
  border-radius: 50%;
  color: #6CAF05;
  border: 2px solid #6CAF05;
  padding: 5px;
  display: inline-block;
  margin: 8px;
}

.navbar_aside .mainpanel_item span[class^="icon-"]:hover {
  color: #fff;
  background: #6CAF05;
}

#main-right {
  position: fixed;
  top: 20%;
  right: 1em;
  min-height: 400px;
  background: #fff;
}

#main-right > div.mainpanel {
  display: none;
}

#main-right.show {
  width: 250px;
  padding: 1.6em;
  border-right: 3px solid #6CAF05;
}

#main-right.show > div.mainpanel {
  display: block;
}

@media (max-height: 500px) {
  #main-right.show {
    position: relative;
    width: 100%;
  }
}

#main-right > div.menupanel {
  position: absolute;
  top: 40%;
  right: -1.2em;
  width: 45px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 120%;
  background: #6CAF05;
}

#main-right > div.menupanel a {
  text-decoration: none;
}

#main-right > div.menupanel span {
  display: block;
  cursor: pointer;
  color: #fff;
}

#main-right > div.menupanel span:hover {
  color: #d6e9c6;
}

#main-right > div.menupanel .circle {
  border-radius: 50%;
  background: #fff;
  color: #6CAF05 !important;
  margin-bottom: 0.5em;
}

#main-right > div.menupanel .circle:hover {
  background: #d6e9c6;
}

/*Article*/
/*Article*/
/* article{
  >aside,>header{
    @include label-hollow("span.label",$label-color,$label-border-color,
            $label-hover-color,$label-hover-bgColor);
  }
 
} 
article.details>header{
  margin:0 auto;
  text-align:center;
  .title{
    font-size:150%;
    font-weight:bold;
    margin:1em auto 0; 
    color:#000;
  }
  time{font-size:80%;color:black};
  @include inline-ul(false);
} */
article.md-content, section.md-content {
  color: #000;
  font-size: 95%;
}

article.md-content pre, section.md-content pre {
  font-size: 95%;
  background-color: transparent;
  border: none;
}

article.md-content hr, section.md-content hr {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

article.md-content .hljs, section.md-content .hljs {
  border-radius: 4px;
}

/* Article List */
section.item {
  width: 100%;
  position: relative;
  padding-left: 200px;
}

section.item > aside {
  position: absolute;
  width: 200px;
  top: 0;
  left: -1em;
  bottom: 0;
  height: auto;
  min-height: 100%;
}

@media (max-width: 900px) {
  section.item {
    padding-left: 0;
  }
  section.item > aside {
    position: static;
    width: auto;
  }
}

section.item:after {
  content: '';
  clear: both;
}

section.item {
  margin-top: 1.5em;
}

section.item > p {
  font-size: 85%;
  padding-right: 1em;
}

section.item > aside {
  padding-right: 1em;
  text-align: right;
  font-size: 90%;
}

section.item a {
  text-decoration: none;
  color: black;
}

section.item a:hover {
  text-decoration: none;
  color: #337ab7;
}

section.item > aside ul {
  list-style: none;
  padding-left: 0;
}

section.item > aside ul li {
  display: inline-block;
}

section.item > aside ul li:after {
  content: "\00A0\00A0\00B7\00A0\00A0";
}

section.item > aside ul li:last-child:after {
  content: "";
}

@media (min-width: 900px) {
  section.item > aside ul li {
    display: block;
  }
  section.item > aside ul li:after {
    content: "";
  }
}

section.item > aside > ul {
  min-height: 100%;
  padding-right: 1.5em;
  border-right: 3px solid green;
  color: black;
  margin-left: 0;
  margin-bottom: 5px;
}

section.item > aside > ul time {
  font-weight: bold;
}

@media (max-width: 900px) {
  section.item > aside > ul {
    text-align: left;
    border: 0;
    font-size: 0.9rem;
    font-style: italic;
    /* label{font-weight:normal;} */
  }
  section.item > aside > ul time {
    font-weight: normal;
  }
}

div.todo-item {
  color: black;
  font-size: 90%;
  border-left: 3px solid #6CAF05;
  margin-bottom: 1em;
}

div.todo-item > header {
  padding: 10px 15px;
}

div.todo-item > header .title {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

div.todo-item > header ul {
  font-style: italic;
  font-size: 0.8rem;
}

div.todo-item > header p {
  color: #555;
}

div.todo-item > header:hover {
  cursor: pointer;
  background: #f5f5f5;
}

div.todo-item > header.active {
  background: #f5f5f5;
}

div.todo-item > section {
  display: none;
  padding: 15px 15px 10px;
  position: relative;
}

div.todo-item > section:before {
  position: absolute;
  content: " ";
  top: -1px;
  left: 10px;
  right: 10px;
  height: 1px;
  border-top: 1px solid #f5f5f5;
}

input.mui-switch {
  width: 52px;
  height: 31px;
  position: relative;
  border: 1px solid #dfdfdf;
  background-color: #fdfdfd;
  box-shadow: #dfdfdf 0 0 0 0 inset;
  border-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-clip: content-box;
  display: inline-block;
  -webkit-appearance: none;
  user-select: none;
  outline: none;
}

input.mui-switch:before {
  content: '';
  width: 29px;
  height: 29px;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: 1em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

input.mui-switch:checked {
  border-color: #6CAF05;
  box-shadow: #6CAF05 0 0 0 16px inset;
  background-color: #6CAF05;
}

input.mui-switch:checked:before {
  left: 23px;
}

input.mui-switch.mui-switch-animbg {
  transition: background-color ease 0.4s;
}

input.mui-switch.mui-switch-animbg:before {
  transition: left 0.3s;
}

input.mui-switch.mui-switch-animbg:checked {
  box-shadow: #dfdfdf 0 0 0 0 inset;
  background-color: #6CAF05;
  transition: border-color 0.4s, background-color ease 0.4s;
}

input.mui-switch.mui-switch-animbg:checked:before {
  transition: left 0.3s;
}

input.mui-switch.mui-switch-anim {
  transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

input.mui-switch.mui-switch-anim:before {
  transition: left 0.3s;
}

input.mui-switch.mui-switch-anim:checked {
  box-shadow: #6CAF05 0 0 0 16px inset;
  background-color: #6CAF05;
  transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

input.mui-switch.mui-switch-anim:checked:before {
  transition: left 0.3s;
}

#main .label {
  cursor: pointer;
  display: inline-block;
  margin-right: 2px;
  background: transparent;
  color: #6CAF05;
  border: 1px solid #d6e9c6;
}

#main .label:hover {
  color: #fff;
  background: #6CAF05;
}

#main span.tree-indent {
  padding-left: 1em;
}

#main ul.pagination li.active span {
  color: #fff;
  background: #6CAF05;
}

#main ul.pagination span {
  color: #333;
  font-weight: bold;
  border: none;
  font-size: 90%;
  padding: 3px 10px;
}

ul.pagination li {
  cursor: pointer;
}

aside.aside-right {
  position: fixed;
  top: 40%;
  right: 1em;
  border-radius: 10px;
}

aside.aside-right > div.mainpanel {
  display: none;
  padding-right: 1.5em;
}

aside.aside-right > div.menupanel {
  position: absolute;
  top: 10px;
  right: -1.4em;
  border-radius: 10px;
  text-align: center;
  background: #6CAF05;
}

aside.aside-right.show {
  border: 3px solid #6CAF05;
}

aside.aside-right.show > div.mainpanel {
  display: block;
}

aside.aside-right:after {
  content: '';
  clear: both;
}

aside.aside-right {
  background: #fff;
}

aside.aside-right > div.mainpanel {
  font-size: 80%;
}

aside.aside-right ul {
  list-style: none;
  padding: 8px 10px;
  margin-bottom: 0;
}

aside.aside-right ul a {
  color: #337ab7;
  display: inline-block;
  padding: 3px;
}

aside.aside-right ul a:hover {
  color: #23527c;
}

aside.aside-right span.glyphicon {
  cursor: pointer;
  color: #fff;
  background: transparent;
  font-size: 1.2rem;
  padding: 2px;
}

aside.aside-right span.glyphicon:hover {
  color: #d6e9c6;
  background: transparent;
}

aside.aside-right span.glyphicon.circle {
  cursor: pointer;
  color: #6CAF05;
  background: #fff;
  font-size: 1.2rem;
  padding: 2px;
  border-radius: 50%;
  line-height: 0.8em;
}

aside.aside-right span.glyphicon.circle:hover {
  color: #6CAF05;
  background: #d6e9c6;
}

header.main-header {
  margin-top: 1em;
  text-align: center;
}

header.main-header > nav {
  padding: 0 1.5em;
  font-weight: bold;
}

header.main-header > nav span.glyphicon {
  color: #6CAF05;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid #6CAF05;
}

header.main-header > nav span.glyphicon:hover {
  cursor: pointer;
  color: #fff;
  background: #6CAF05;
}

header.main-header > nav span.title {
  font-size: 150%;
  color: black;
}

header.main-header > nav span.badge {
  display: inline-block;
  background: #6CAF05;
  margin: 0 0.5em;
}

header.main-header > hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

header.main-header > ul.sub-header {
  list-style: none;
  padding-left: 0;
}

header.main-header > ul.sub-header li {
  display: inline-block;
}

header.main-header > ul.sub-header li:after {
  content: "\00A0\00A0\00B7\00A0\00A0";
}

header.main-header > ul.sub-header li:last-child:after {
  content: "";
}

header.main-header > ul.sub-header {
  font-style: italic;
  margin-bottom: 1em;
}

header.main-header > ul.sub-header time {
  font-size: 80%;
}

header.main-header > ul.sub-header a {
  color: black;
}

header.main-header > ul.sub-header a:hover {
  color: #337ab7;
  text-decoration: none;
}

div.event-item {
  display: table;
  width: 100%;
  margin-bottom: 0.5em;
  color: black;
}

div.event-item > aside {
  display: table-cell;
  width: 20%;
  text-align: right;
  vertical-align: middle;
  padding: 5px 15px;
}

div.event-item > aside time {
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
  display: block;
}

div.event-item > aside .badge {
  display: inline-block;
  background: #6CAF05;
  margin: 0 1em;
}

div.event-item > section {
  display: table-cell;
  position: relative;
  padding: 10px;
  font-size: 90%;
}

div.event-item > section:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10px;
  border-left: 3px solid green;
}

div.event-item > section a {
  text-decoration: none;
}

@media (max-width: 900px) {
  div.event-item {
    display: block;
  }
  div.event-item > aside, div.event-item > section {
    display: block;
    width: 100%;
  }
  div.event-item > aside {
    text-align: left;
    padding-left: 5px;
  }
  div.event-item > aside time {
    display: inline-block;
  }
  div.event-item > section {
    margin-left: 1.5em;
  }
  div.event-item > section ul {
    list-style: circle;
    padding-left: 1.5em;
  }
}

div.event-item:after {
  content: '';
  clear: both;
}

ul.link-list {
  list-style: none;
  padding-left: 1em;
}

ul.link-list time {
  color: #555;
  margin-right: 1.5em;
}

ul.link-list a {
  text-decoration: none;
}

ul.timeline {
  list-style: none;
  padding-left: 0;
}

ul.timeline > li {
  width: 49%;
  display: block;
  margin: 0.5em 0;
}

ul.timeline > li:nth-of-type(2n+1) {
  float: left;
  clear: left;
}

ul.timeline > li:nth-of-type(2n) {
  float: right;
  clear: right;
}

@media (max-width: 900px) {
  ul.timeline > li {
    width: 100%;
    float: none;
    clear: both;
  }
}

ul.timeline > li {
  border: 1px solid green;
}

div.tableline {
  display: table;
  width: 100%;
}

div.tableline > div {
  display: table-cell;
}

@media (max-width: 900px) {
  div.tableline {
    display: block;
  }
  div.tableline > div {
    display: block;
    width: 100% !important;
  }
}

div.tableline > div.tableline-left {
  position: relative;
  width: 50%;
}

div.tableline > div.tableline-left:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #6CAF05;
}

@media (max-width: 900px) {
  div.tableline > div.tableline-left:after {
    border: none;
    clear: both;
  }
}

div.grid-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  align-items: stretch;
}

div.grid-flexbox > div {
  margin: 5px;
  border: 1px solid green;
}

@media (max-width: 900px) {
  div.grid-flexbox > div {
    width: 100%;
  }
}

div.grid-column {
  -webkit-column-width: 250px;
  -moz-column-width: 250px;
  column-width: 250px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}

div.grid-column > div {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
}

div.grid-column > div {
  border: 1px solid green;
  margin-bottom: 5px;
}

.item-table {
  display: table;
  padding-left: 0;
}

.item-table > * {
  display: table-row;
}

.item-table > * > * {
  display: table-cell;
}

/* ul.item-table{
	display:table;
	padding-left:0;
	>li{
		display:table-row;
		>*{
			display:table-cell;
		}
	}
} */
div.item {
  color: black;
  padding: 10px;
  font-size: 95%;
  /* >section ul{
		list-style: none;
		a{text-decoration: none;}
		time{color:#555;margin-right:1em;}
		span{display:inline-block;padding:0 0.5em;}
		@media(max-width: $frame-grid-breakpoint){list-style: circle}
	}
	
	@media(min-width: $frame-grid-breakpoint){
		&.right{
			text-align: right;
			>section ul{
				margin-right:1.5em;
				time{float:right;margin-left:1.5em;margin-right:0;}
			}
		}	
	} */
}

div.item a {
  text-decoration: none;
  color: black;
}

div.item a:hover {
  text-decoration: none;
  color: #337ab7;
}

div.item > aside {
  margin-bottom: 5px;
}

div.item > aside time {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  font-size: 120%;
  border: 2px solid #6CAF05;
  border-radius: 50%;
  line-height: 1.8;
}

div.item > aside span.badge {
  display: inline-block;
  background: #6CAF05;
  margin: 0 0.5em;
}

div.item > aside label {
  font-size: 120%;
}

@media (max-width: 900px) {
  div.item > aside {
    text-align: left;
  }
}

div.item > section ul.item-table {
  margin-left: 1.5em;
}

div.item > section ul.item-table > li > time {
  min-width: 100px;
  color: #333;
  padding: 2px 5px;
}

div.item > section ul.item-table > li > a {
  padding: 0 3px;
}

div.item > section ul {
  list-style: none;
}

div.item > section ul.text-right {
  text-align: right;
  margin-right: 1.5em;
}

div.item > section ul > li {
  padding: 3px 0;
}

@media (max-width: 900px) {
  div.item > section ul {
    list-style: circle;
    text-align: left !important;
    margin-right: 0;
  }
}

/* div.floatline{
	>div{
		display:inline-block;
		width:49%;
		vertical-align: top;
		padding:0 1em;
		//border:1px solid green;
	}
	>div:nth-of-type(1){
		border-right:2px solid #eee;
		>div{
			float:right;
			margin-right:1em;
		}
	}
} */
div.grid-column > div.item:hover {
  background: #eee;
}
